---
layout: default
---
<article id="main">
	<header>
		<h2>{{ page.title }}</h2>
		{% if site.reading_time %}
		<p style="font-size:0.6em">
			<span class="fa fa-clock-o"></span>
			<em>{% include read-time.html %}</em>
		</p><!-- /.entry-reading-time -->
		{% endif %}
	</header>
	{% include breadcrumb.html %}
	<section class="wrapper style5">
		<div class="inner">
			<p class="image right">{% if page.kindle_url or page.read_url or page.about %}
			<a href="{% if page.about %}{{ page.about }}{% elsif page.kindle_url %}{{ page.kindle_url }}{% elsif page.read_url %}{{ page.read_url }}{% endif %}" target="_blank" title="{% if page.book %}{{ page.book }}{% else %}{{ page.title }}{% endif %}">{% endif %}
				<img src="/images/{{ page.image }}" alt="{{ page.title }} Cover" />{% if page.kindle_url or page.read_url or page.about %}</a>{% endif %}
			</p>
			

			<h2>{{ page.title}}</h2>

			{% if page.slug == "excerpt" %}{% include buttons.html %}{% endif %}

			{{ content }}
			{% if page.slug == "excerpt" %}<hr />
			<p>This is an excerpt from <a href="{{ page.about }}"><em>{{ page.book }}</em></a>.</p>
			{% endif %}
			
			{% include info.html %}
			
			{% if page.giveaway %}{% include giveaway-{{ page.giveaway }}.html %}<br />{% endif %}
			
			{% include buttons.html %}
			{% if page.categories contains "short-stories-full-text" %}
			{% elsif page.categories contains "short-stories" %}
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			{% endif %}
			
			{% if page.connected_img %}<p class="image fit">
				<a href="/connected/{{ page.connected_name | slugify }}/">
					<img src="/images/{{ page.connected_img }}" alt="{{ page.connected_name }}" title="{{ page.connected_name }} series" />
				</a>
			</p>{% endif %}
		</div>
	</section>
</article>
